[submodule "app"]
	path = app
	url = https://github.com/Lee266/next-password-manager-app/tree/develop
[submodule "api"]
	path = api
	url = https://github.com/Lee266/next-password-manager-api/tree/develop
